@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
  }

  body {
    @apply bg-navy-700 font-sans text-navy selection:bg-yellow selection:text-navy-700 relative;
  }

  nav {
    @apply bg-navy-900 p-4 overflow-y-hidden px-5 
        lg:sticky lg:top-0 lg:h-screen lg:pt-[2.688rem] lg:px-10 lg:w-[26.25rem];
  }

  main {
    @apply flex flex-col flex-1 px-5 pt-[1.688rem]
              lg:pt-[2.688rem] lg:pr-10 lg:pb-0 lg:pl-0 lg:gap-8;
  }

  section {
    @apply flex flex-col gap-4 p-4 border-1 border-navy-500 rounded-[0.625rem]
      bg-navy-900 lg:gap-8 lg:max-w-6xl lg:px-[1.75rem] lg:p-8;
  }

  footer {
    @apply mt-auto mb-0 px-0 pb-2;
  }

  hr {
    @apply my-6 block bg-black border-none h-[1px];
  }
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3a4667;
}
